.soap {
    opacity: 0;
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
