@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueHaasUnica-Regular";
  src: url("../public/fonts/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: "NeueHaasUnica-Black";
  src: url("../public/fonts/NeueHaasUnica-Black.ttf");
}

@font-face {
  font-family: "Phenomena-Black";
  src: url("../public/fonts/Phenomena-Black.otf");
}

@font-face {
  font-family: "Phenomena-Regular";
  src: url("../public/fonts/Phenomena-Regular.otf");
}

body {
  background-color: #1a1a1a;
  color: white;
}